# My local files
/local_files/

# Local .terraform directories
**/.terraform/*

# .tfstate files
*.tfstate
*.tfstate.*

# Ignore override files as they are usually used to override resources locally and so
# are not checked in
override.tf
override.tf.json
*_override.tf
*_override.tf.json

# Ignore CLI configuration files
.terraformrc
terraform.rc

### OSX ###
# General
.DS_Store
.AppleDouble
.LSOverride

### Linux ###
*~

### Jetbrains ###
**/.idea/*
.idea/

# Distribution / packaging
.Python
build/
develop-eggs/
dist/
downloads/
eggs/
.eggs/
lib/
lib64/
parts/
sdist/
var/
wheels/
pip-wheel-metadata/
share/python-wheels/
*.egg-info/
.installed.cfg
*.egg
MANIFEST

# Django stuff:
*.log
local_settings.py
db.sqlite3
db.sqlite3-journal

# Environments
docker/.env
.venv
env/
venv/
ENV/
env.bak/
venv.bak/

### VisualStudioCode ###
.vscode/*
!.vscode/tasks.json
!.vscode/launch.json
!.vscode/extensions.json

# Any ec2 ssh keys
*.pem

# Python cache files
__pycache__/
*.py[cod]
*$py.class